PG_PASSWORD=change-me
MPMT_DATABASE_URL=postgresql+psycopg://mpmt:change-me@postgres:5432/mpmt
MPMT_WB_TOKEN_FILE=/srv/secrets/WBtoken.txt
MPMT_DOMAIN=gis.adel-factory.ru
MPMT_TG_BOT_TOKEN=
MPMT_TG_CHAT_ID=
